@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #8EDFEB;
  --background-end: #5063BF;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start: #8EDFEB;
    --background-end: #5063BF;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh ;
  flex: 1;
}

.background {
  background-image: linear-gradient(to bottom, var(--background-start), var(--background-end));
  background-repeat: no-repeat;
  background-size: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav{
  height: 8vh;
}
.content {
  height: 92vh;
  align-items: flex-start;
}